.*
!.gitignore
!.github/

*/
!profile/

*.svg
!github-contribution-grid-snake-dark.svg
!github-contribution-grid-snake.svg
!stats.svg
*.png
*.apng
*.jpg
*.jpeg
*.mov
*.mp4
*.mp3
*.md
!README.md
*.yml
!grs.yml
!snake.yml
*.log
*.pdf
*.txt
*.json
*.drawio
*.csv

*.sh
*.go
*.mod
*.js
node_modules/
*.ts
*.py
__pycache__/
venv/

Dockerfile
Makefile